@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-jakarta-sans: var(--font-plus-jakarta-sans);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}

.dark {
  color-scheme: dark;
}

.dark body {
  background: #0a0a0a;
  color: #f5f5f5;
}

::selection {
  background: black;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #030712;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.dark ::-webkit-scrollbar-track {
  background-color: #0a0a0a;
}
